<div class= "booyah-box col-10 offset-1">
<h2>Click here if your dumbass forgot your password</h2>
<br />
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", hint: ("Remember things better"), class: 'btn btn-primary' %>
  </div>
  <br />
<% end %>

<%= render "devise/shared/links" %>
</div>